body, html {
    padding: 0;
    margin: 0;
}

* {
    font-family: Inter;
    box-sizing: border-box;
    user-select: none;
}

header {
    @extend .card;
    max-width: 700px;
    margin: 3rem auto;
    text-align: center;
    overflow: hidden;
    padding: 0 0 20px 0!important;

    h1 {
        font-family: "Times New Roman";
        margin: 0;
        padding: 1rem 0;
        background: green;
        color: white;
    }
}

body {
    background: rgb(181, 255, 181);
    // padding: 1rem;
}

.card {
    // border: 3px solid black;
    border-bottom: 5px solid green;
    border-radius: 10px;
    padding: 2rem;
    background: white;
    transition: .3s;
    
}

.card:hover {
    box-shadow: 3px 10px 10px rgb(56, 133, 4);
}

input[type='radio'] {
    // visibility: hidden;
    // accent-color: red;

    &:checked {
        accent-color: green;
    }
}
// input[type='radio']:after {
//     width: 15px;
//     height: 15px;
//     border-radius: 15px;
//     top: -2px;
//     left: -1px;
//     position: relative;
//     background-color: transparent;
//     content: '';
//     display: inline-block;
//     visibility: visible;
//     border: 2px solid rgb(0, 0, 0);
// }

// input[type='radio']:checked:after {
//     width: 5px;
//     height: 15px;
//     border-radius: 0;
//     top: -2px;
//     left: -1px;
//     position: relative;
//     // background-color: #00ff55;
//     content: '';
//     display: inline-block;
//     visibility: visible;
//     border: 2px solid rgb(0, 0, 0);
//     border-top-color: transparent;
//     border-left-color: transparent;
//     transform: rotate(45deg);
//     clip-path: none;
//     background: transparent;
//     // padding: 5px;
// }

input[type='radio']:checked + label {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.explanation {
    padding-top: 10px;
    border-top: 2px solid black;
}

.loader {
    width: 20px;
    height: 20px;
    border: 2px solid green;
    border-top-color: transparent;
    border-radius: 50%;
    // border-left-color: transparent;
    animation: spin .5s linear infinite;
}

.modal {
    display: none;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#time {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: auto;
    padding: 20px;
    border-radius: 25px;
    font-size: 20px;
    background: rgb(17, 51, 31);
    color: white;
}
form, .container {
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

    .question {
        @extend .card;
        margin-bottom: 25px;
        color: rgb(0, 0, 0);
        text-align: left;
        .options {
            margin-top: 10px;
        }
        .option {
            margin-bottom: 10px;
        }
    }
}


.button {
    width: min(50%, 200px);
    padding: 10px 0;
    border-radius: 25px;
    // box-shadow: 0 10px 0 black;
    background: green;
    font-size: 18px;
    text-transform: uppercase;
    border: none;
    margin: auto;

    color: white;
}

#start, #submit {
    @extend .button;
}

#submit {
    display: none;
}